body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.loading-spin {
  margin: 0 10px;
}
.contentStyle {
  height: 160px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}
.time-selector-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.time-selector-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.time-selector-button:hover {
  border-color: #1890ff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.time-selector-selected {
  border-color: #1890ff;
  background: #e6f7ff;
}

.process-flight {
  width: 100%;
  height: 2px;
  background-color: red;
}
.background_title-search {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-image: url("https://ik.imagekit.io/tvlk/image/imageResource/2023/12/12/1702371005630-66a1e7a5ee9c4307b9e11409522d377b.png?tr=q-75");
  border-radius: 10px;
  overflow: hidden;
}
.border-radius--custom {
  border-radius: 10px;
  overflow: hidden;
}
/* CSS tuỳ chỉnh */
.custom-select.ant-select {
  border: none; /* Loại bỏ viền mặc định */
  border-bottom: 2px solid #ccc; /* Chỉ hiển thị border-bottom */
  border-radius: 0; /* Loại bỏ góc bo */
  box-shadow: none; /* Loại bỏ hiệu ứng shadow */
}

.custom-select.ant-select:hover {
  border-bottom: 2px solid #007bff; /* Đổi màu khi hover */
}

.custom-select.ant-select:focus {
  border-bottom: 2px solid #007bff; /* Đổi màu khi focus */
}
.pick-item {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
